.carousel:after {
    content: ' ';
    display: block;
    clear: both;
}

.carousel {
    overflow: hidden;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 1rem;
}

.carousel-slide {
    max-width: 100%;
    float: left;
    margin-right: -100%;
    visibility: hidden;
    opacity: 0;
    position: relative;
    transition: all .5s;
}

.carousel-slide.is-prev {
    transform: translate( -300px, 0 );
}

.carousel-slide.is-active {
    opacity: 1;
    transform: translate( 0, 0 );
    visibility: visible;
}

.carousel-slide.is-next {
    transform: translate( 300px, 0 );
}

.carousel-nav {
    padding: 0;
    list-style-type: none;
    margin-top: 1em;
    display: inline-block;
}

.carousel-nav-item {
    display: inline-block;
    width: .75rem;
    height: .75rem;
    border: 1px solid #000;
    border-radius: .75rem;
    cursor: pointer;
}

.carousel-nav-item.is-active {
    background-color: #000;
}

.carousel-direction { 
    -webkit-appearance: none; 
    background: none; 
    border: 0; 
    -webkit-box-shadow: none; 
    box-shadow: none;
    cursor: pointer; 
    display: inline; 
    font-size: inherit;
    font-family: inherit; 
    margin: 0; 
    padding: 0; 
    text-align: left;
    text-decoration: underline; 
    color: -webkit-link;
}

.carousel-direction:active {
    color: -webkit-activelink;
}

.carousel-direction:visited {
    color: -webkit-visitedlink;
}

